<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Ground</title>
    <link rel="stylesheet" href="./styles/play_station_style.css">
</head>
<body>
    <div class="main-content-area">
        <div class="main-content-div">
                <form action = "\play_station\live" method="POST">
                    <div class="form-div">
                    <button type="submit" class="but">Play Live</button>
                    </div>
                </form>
                <form action = "\play_station\computer" method="POST">
                    <div class="form-div">
                    <button type="submit" class="but">Play a Computer</button>
                    </div>
                </form>
            
        </div>
    </div>
</body>
</html>