<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/welcome_page_style.css"></link>
</head>
<body>
    <div class="animation-area">
        <div class="title-cred-area">
            <div class="title-cred-cont">
                <div class="title-cont">
                   <div class="title-text">Tik Tak Yo</div>
                </div>
                <div class="but-area">
                    <div class="login-but-div">
                        <button class="login-but" onclick="window.location.href='/users/login'">Login</button>
                    </div>
                    <div class="reg-but-div">
                        <button class="reg-but" onclick="window.location.href='/users/register'">Register</button>
                    </div>
                </div>
            </div>
            
        </div>
		<ul class="box-area">
			<li>◯</li>
            <li>◯</li>
            <li>◯</li>
            <li>◯</li>
            <li>◯</li>
			<li>╳</li>
			<li>╳</li>
            <li>╳</li>
            <li>╳</li>
            <li>╳</li>
            <li>╳</li>
		</ul>
	</div>
</body>
</html>
